html{
  font-size: 20px;
}
body{
  font-family: numFont, PingFangSC-Regular, Tahoma, "Microsoft Yahei", sans-serif;
}

.App {
  width:1000px;
  margin:0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.raw-title{
  font-size: 1.5rem;
}

/* Home */

.new_movie-card{
  float: left;
  width: 15.8%;
  margin:10px 1% 10px 0;
}
.new_movie-card:nth-of-type(6n+1){
  margin-right:0;
}
.loading-img-box,
.new_movie-card img{
  width:100%;
  height:180px;
}
.loading-img-box{
  position: relative;
  background-color: #f5f6f7;
  cursor: not-allowed;
}
.loading-img-box img{
  position: absolute;
  top:50%;
  left:50%;
  width:auto;
  height: auto;
  transform: translate(-50%,-50%);
}