html{
  font-size: 20px;
}
body{
  font-family: numFont, PingFangSC-Regular, Tahoma, "Microsoft Yahei", sans-serif;
}

.clearfix:after{
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
}

.raw-title{
  font-size: 1.5rem;
}

/* Home */
.page-home{
  width:1000px;
  margin:0 auto;
}
.page-home .block{
  margin:0 0 50px 0;
}
.new_movie-card{
  position: relative;
  float: left;
  width: 15.8%;
  margin:10px 1% 10px 0;
}
.new_movie-card:nth-of-type(6n+1){
  margin-right:0;
}
.loading-img-box,
.new_movie-card img{
  width:100%;
  height:180px;
}
.loading-img-box{
  position: relative;
  background-color: #f5f6f7;
  cursor: not-allowed;
}
.loading-img-box img{
  position: absolute;
  top:50%;
  left:50%;
  width:auto;
  height: auto;
  transform: translate(-50%,-50%);
}

/* Detail */
.poster-box{
  height: 320px;
  background-color: #2d2e36;
}
.profile{
  position: relative;
  padding:100px 10%;
}
.profile .block{
  margin:0 0 50px 0;
}
.profile-img{
  width: 200px;
  box-shadow: 2px 2px 3px 0px #121111;
}
.profile-img img{
  width: 100%;
  height: auto;
}
.profile-info .tags{
  margin:10px 0;
}
.video_summary{
  margin:20px 0;
}
.profile-rate{
  position: absolute;
  top:100px;
  right:10%;
}
.profile-rate .rate{
  color:#ff6428;
}
.profile-rate .rate .units{
  font-size: 72px;
}
.profile-rate .rate .decimal{
  font-size: 54px;
}
.profile-rate .box{
  color:#fff;
  font-size: 1rem;
}
.photos-box{
  overflow-x:auto;
  overflow-y:hidden;
  height: 200px; 
}
.box-gallery {
  width: 2000px;
  height: 200px;
}
.gallery-img{
  position: relative;
  float: left;
  height: 100%;
  border-right: 5px solid #fff;
}
.gallery-img:last-of-type{
  border-right:none;
}
.gallery-img img{
  width: auto;
  height: 100%;
}
.gallery-img .img-icon{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  color: #fff;
}
.new_movie-card .img-tag,
.gallery-img .img-tag{
  position: absolute;
  top:5px;
  left:5px;
}

/* custom ant style */
.custom-ant-rate{
  font-size: .7rem;
  margin:0 5px;
}
.cutsom-ant-comment{
  border-bottom: 1px solid #f0f0f0;
}